@model IEnumerable<FirstAjax.Models.Employee>

@{
    ViewData["Title"] = "GetEmpList";
}


<h1>GetEmpList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">

    function getEmployees() {
        $.ajax({
            type: "GET",
            url: 'Employee/GetEmpList',
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function(){
                Show(); // Show loader icon
            },
            success: function (response) {

                // Looping over emloyee list and display it
                $.each(response, function (index, emp) {
                    $('#output').append('<p>Id: ' + emp.ID + '</p>' +
                                        '<p>Id: ' + emp.Name + '</p>');
                });
            },
            complete: function(){
                Hide(); // Hide loader icon
            },
            failure: function (jqXHR, textStatus, errorThrown) {
                alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText); // Display error message
            }
        });
    }
</script>
<body>  
    <div id="div_Loader" style="padding-left: 400px; top: 500px">  
        <img src="img\Loder.gif" width="100px" height="100px" alt="loader" />  
    </div>  
    <div id="output">  
    </div>  
</body> 

