<div class="row" style="border:2px solid black ; margin:0 auto;padding:20px;">
    <div class="col-md-2">
        Name
    </div>

<div class="col-md-10">
    <input type="text" id="textUserName" class="form-control" placeholder="enter User Name" />  

</div>

    <div class="col-md-2">
        EMail
    </div>

<div class="col-md-10">
    <input type="Email" id="textUserEmail" class="form-control" placeholder="enter Your Email" />

</div>

    <div class="col-md-2">
        Password
    </div>

<div class="col-md-10">
    <input type="password" id="textUserPass" class="form-control" placeholder="enter Your Password" />

</div>
<div class="col-md-12">
        <button class="btn-outline-primary"  onclick="SaveUser()"> SaveUser</button>
</div>
</div>
<script src="/js/site.js"></script>